<!-- FOOTER -->
<footer class="page-footer font-small blue" id="footer">
    <div class="footer-copyright text-center py-1 px-5">
        Source Code licensed
        <a href="{{ site.repository }}/blob/master/LICENSE">MIT</a>
        {{ site.time | date: '%Y' }}.
        <br>
        Website content licensed
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
        |
        Digital Garden Template is built by Brennan Brown, creator of Enjoyment Work 
        </a>

    </div>
</footer>
