<!-- HEADER --> 
<header class="mb-4">
    <div class="dashboard disable-select">
        <div class="mb-2 text-center">
            <h1 class="p-2 mt-2" id="site-header">
                <a href="https://jyoiyer.github.io/digitaldialectics">{{site.title}}</a>
                <br class="d-md-none d-block">
                <small>
                    {{ site.tagline }}
                </small>
            </h1>
        </div>
        <div class="userboard profile-board-col">
            <div class="username">
                <span>
                    <a href="https://jyoiyer.github.io/profile">{{username}}</a>
                </span>
            </div>
            <div class=" userdesc">
                <p>{{site.description}}</p>
            </div>
        </div>
    </div>
</header>
