<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <!-- MAIN CONTENT -->
        <main class="flex-shrink-0">
            <div class="row justify-content-center pb-3">
                <div class="col-md-7 col-sm-12">
                     {% include header.html %} 
                     {% include feed.html %} 
                    <div id="content">{{content}}</div>
                </div>
            </div>
        </main>
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>
